GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/api/google/callback
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_here


//2bH2PHN3hn5ACNbi
mongodb+srv://tanishkagupta203_db_user:2bH2PHN3hn5ACNbi@cluster0.nqmaydr.mongodb.net/jobtracker?retryWrites=true&w=majority&appName=Cluster0